#chart_gtex > * {
  transition: opacity, filter 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

#venn_statement_gtex {
  background: rgba(118, 194, 91, 0.25);
}

#nofgenes_gtex {
  text-decoration-color: #76c25b;
}

#line_gtex {
  fill: none;
  stroke: #76c25b;
  stroke-width: 2;
}

#area_gtex {
  fill: #76c25b;
  stroke-width: 0;
}

#chart_tcga > * {
  transition: opacity, filter 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

#venn_statement_tcga {
  background: rgba(179, 90, 90, 0.25);
}

#nofgenes_tcga {
  text-decoration-color: #b35a5a;
}

#line_tcga {
  fill: none;
  stroke: #b35a5a;
  stroke-width: 2;
}

#area_tcga {
  fill: #b35a5a;
  stroke-width: 0;
}

#chart_hpgc > * {
  transition: opacity, filter 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

#venn_statement_hpgc {
  background: rgba(31, 120, 180, 0.25);
}

#nofgenes_hpgc {
  text-decoration-color: #1f78b4;
}

#line_hpgc {
  fill: none;
  stroke: #1f78b4;
  stroke-width: 2;
}

#area_hpgc {
  fill: #1f78b4;
  stroke-width: 0;
}

#chart_pgclc > * {
  transition: opacity, filter 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

#venn_statement_pgclc {
  background: rgba(166, 206, 227, 0.25);
}

#nofgenes_pgclc {
  text-decoration-color: #a6cee3;
}

#line_pgclc {
  fill: none;
  stroke: #a6cee3;
  stroke-width: 2;
}

#area_pgclc {
  fill: #a6cee3;
  stroke-width: 0;
}

.message {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;
}
@media (min-width: 500px) {
  .message {
    display: none;
  }
}

/* body { */
/*     height: 100vh; */
/*     margin: 0px; */
/* } */
#graphs {
  background: white;
  width: 100vw;
  height: 100vh;
  display: none;
}
#graphs .buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: 100vh;
  margin-right: 20px;
}
#graphs .button {
  flex-grow: 1;
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  /* @extend p; */
  color: black;
  cursor: pointer;
}
#graphs .venn {
  border: 1px solid grey;
}
#graphs .graph {
  padding: 0 0;
  border: 2px solid #444;
  align-content: space-between;
  flex-direction: vector;
  /* .title { */
  /*     width: 1000; */
  /* } */
  display: flex;
  /* justify-content: center; */
  align-items: space-between;
  flex-direction: column;
}
#graphs .graph .title {
  order: -1;
}
#graphs .graph .selection_statement {
  width: 80%;
  /* height: 20%; */
  text-align: center;
}
#graphs .graph .selection_statement * {
  color: black;
  font-size: 90%;
}
#graphs .graph svg {
  align-content: space-between;
  flex-direction: vector;
  /* .line {
  /*     stroke: grey; */
  /*     opacity: 0.1; */
  /*     stroke-width: 0.5; */
  /* } */
}
#graphs .graph svg .grid {
  stroke: grey;
  opacity: 0.1;
  stroke-width: 0.5;
}
#graphs .graph svg rect.selection {
  opacity: 0;
}
#graphs .graph.red {
  background: #ff9999;
}
#graphs .graph.green {
  background: #1aff1a;
}
#graphs .graph.yellow {
  background: #ffff99;
}
#graphs .graph.purple {
  background: #ff1aff;
}
#graphs .graph-0 {
  border-bottom: 2px dashed grey;
}
#graphs .graph-1 {
  border-top: 2px dashed grey;
}
#graphs #venn-wrapper {
  padding-bottom: 0%;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  background: white;
}
#graphs #venn-wrapper svg {
  width: 100%;
  height: 100%;
}
#graphs .info {
  grid-area: info;
}
#graphs .venn {
  grid-area: venn;
}
#graphs .graph-0 {
  grid-area: graph-0;
}
#graphs .graph-1 {
  grid-area: graph-1;
}
#graphs .graph-2 {
  grid-area: graph-2;
}
#graphs .graph-3 {
  grid-area: graph-3;
}
#graphs .buttons {
  grid-area: buttons;
}
#graphs .info {
  overflow-y: scroll;
}
@media (min-width: 500px) {
  #graphs {
    display: grid;
  }
}
@media (min-width: 500px) and (max-width: 799px) {
  #graphs .info {
    display: none;
  }
  #graphs.display-info {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons info";
  }
  #graphs.display-info .info {
    display: initial;
  }
  #graphs .venn {
    display: none;
  }
  #graphs.display-venn {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons venn";
  }
  #graphs.display-venn .venn {
    display: initial;
  }
  #graphs .graph-0 {
    display: none;
  }
  #graphs.display-graph-0 {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons graph-0";
  }
  #graphs.display-graph-0 .graph-0 {
    display: initial;
  }
  #graphs .graph-1 {
    display: none;
  }
  #graphs.display-graph-1 {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons graph-1";
  }
  #graphs.display-graph-1 .graph-1 {
    display: initial;
  }
  #graphs .graph-2 {
    display: none;
  }
  #graphs.display-graph-2 {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons graph-2";
  }
  #graphs.display-graph-2 .graph-2 {
    display: initial;
  }
  #graphs .graph-3 {
    display: none;
  }
  #graphs.display-graph-3 {
    grid-template-columns: 3fr 10fr;
    grid-template-areas: "buttons graph-3";
  }
  #graphs.display-graph-3 .graph-3 {
    display: initial;
  }
}
@media (min-width: 800px) {
  #graphs {
    grid-template-rows: 2fr 3fr 3fr 3fr 3fr;
    grid-template-columns: 6fr 3fr;
    grid-template-areas: "info info" "venn graph-0" "venn graph-1" "venn graph-2" "venn graph-3";
  }
  #graphs .buttons {
    display: none;
  }
}
@media (min-width: 1000px) {
  #graphs {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 8fr 9fr;
    grid-template-areas: "info graph-0" "info graph-0" "info graph-0" "info graph-1" "venn graph-1" "venn graph-1" "venn graph-2" "venn graph-2" "venn graph-2" "venn graph-3" "venn graph-3" "venn graph-3";
  }
  #graphs .venn {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 1fr; */
  }
  #graphs .venn .venn-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: -1;
  }
}

.area {
  opacity: 0.7;
}

.hover_fade {
  opacity: 0.8;
  filter: blur(4px);
  /* opacity */
}

[crossed-out=true] {
  text-decoration: line-through;
  opacity: 0.5;
}

/* .venn { */
/*     /\* justify-content: space-between; *\/ */
/*     /\* align-items *\/ */
/*     /\* svg:  *\/ */
/* } */
.nofgenes {
  text-decoration: underline;
}

#venn_statement_current_selection {
  /* text-decoration: underline overline; */
  background: rgba(106, 61, 154, 0.25);
}

.venntooltip {
  /* position: absolute; */
  text-align: center;
  width: 128px;
  height: 16px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

.selection_statement {
  /* z-index: 2; */
  /* background: ; */
}

/*# sourceMappingURL=graphs.css.map */
